
.jobDescContainer {
    display: flex; 

}


.jobDescContainer .card {
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 100%;
    border: none;
    /* border-radius: 10px; */
    /* background-color: rgba(186, 186, 186, 0.19); */
    -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
}

.jobDescContainer .image {
    /* min-width: 155px;
    margin-right: 20px; */
}

.jobDescContainer .stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.jobDescContainer .articles {
    font-size: 10px;
    color: #a1aab9;
}


.jobDescContainer .followers {
    font-size: 10px;
    color: #a1aab9;
}

.jobDescContainer .rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

/* <button class="button-73" role="button">Button 73</button> */

/* CSS */
.button-73 {
 background-color: #4B6587;
 color: white;

}




.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 40%;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: black;
    padding-right: 40px;
    color:black;
  }
  .input-search::placeholder{
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: black ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: grey;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }